main {
	width: 1000px;
	height: 650px;
	border: 1px solid black;
	position: relative;
}

.paddle {
	border: 3px solid black;
	background-color: darkgrey;
	position: absolute;
	border-radius: 20px;
}

.ball {
	border: 1px solid black;
	border-radius: 50%;
	background-color: gold;
	position: absolute;
}

.brick {
	border: 2px solid darkred;
	position: absolute;
	background-color: coral;
}